This is a practice notebook of basic python programming. I'm using https://www.w3schools.com/python/python_getstarted.asp as my source of training in this notebook

# Indentation

In [95]:
if 3 > 2:
    print("Hello, World")

Hello, World

# Variables

In [38]:
x = 2
y = 5
z = x + y
print(z)
print (x * y)

7
10

In [18]:
a = "john"
b = 100
print(a)

john

In [20]:
#if you want to specify the data type in a variable you can use casting
a = int(3)
b = str("apple")
print(a)
print(b)

3
apple

In [24]:
#get data type with the type function
type(a)

int

In [25]:
type(b)

str

In [32]:
#Assign variables in same line
a, b, c, e = 1, 2, 3.5, "cherry"
d = (a + b)*c
print(a)
print(b)
print(c)
print(d)
print(e)
type(c)

1
2
3.5
10.5
cherry

float

Unpack list to multiple variable

In [42]:
fruit = ["apple","banana",'orange']
a, b, o = fruit
print(a, b, o)

apple banana orange

Create a global variable and call it in a function

In [47]:
a = "apples"

def fruit():
    a = "bananas"
    print ("I love", a)

fruit()

print("I love", a)

I love bananas
I love apples

## Data Types

Text Type:	str

Numeric Types:	int, float, complex

Sequence Types:	list, tuple, range

Mapping Type:	dict

Set Types:	set, frozenset

Boolean Type:	bool

Binary Types:	bytes, bytearray, memoryview

None Type:	NoneType

# Strings

Strings are arrays. Print a certain caracter in a string.
Loop through a long string with a for loop.

In [248]:
a = "I want to go to the beach"
print(a[3])

a

In [246]:
for i in a:
    print(i)

I

w
a
n
t

t
o

g
o

t
o

t
h
e

b
e
a
c
h

In [251]:
#tokenize and print by word
l = a.split()
for i in l: print(i)

I
want
to
go
to
the
beach

In [65]:
#check string length
len(a)

25

In [68]:
#check if word is in string
if "beach" in a:
    print("yes")

yes

In [69]:
#Check is a word is not in the text
if "poop" not in a:
    print("No poop here")

No poop here

In [70]:
#Return a range of values in a string
print(a[2:5])

wan

In [71]:
#Return a range of values in a string from the start
print(a[:10])

I want to

In [72]:
#Return a range of values in a string from the end
print(a[10:])

go to the beach

In [73]:
#Return all values
print(a[:])

I want to go to the beach

In [84]:
#make string upper case
b = a.upper()
print(b)

I WANT TO GO TO THE BEACH

In [85]:
#make string lower case
c = a.lower()
print(b)

I WANT TO GO TO THE BEACH

You can had the "tab: key on the keyboard after you type "." to see the different methods available.

In [88]:
d = b + c
e = b + " " + c
print(d, e)

I WANT TO GO TO THE BEACHi want to go to the beach I WANT TO GO TO THE BEACH i want to go to the beach

Place variables in strings

In [92]:
age = 24
txt = "My name is John and I'm {}"
print(txt.format(age))

My name is John and I'm 24

In [94]:
date = "5/21"
weather = "rain"
food = "apples"
txt = "Today it's {} and the weather is {} and I want to eat {}"
print(txt.format(weather, weather, food))

Today it's rain and the weather is rain and I want to eat apples

## Operators

https://www.w3schools.com/python/python_operators.asp

==	Equal

!=	Not equal

">	Greater than"

<	Less than

">=	Greater than or equal to"

<=	Less than or equal to

## Lists

In [96]:
#simple list
my_list = ["apple", "poop", "pudding"]
print(my_list)

['apple', 'poop', 'pudding']

In [97]:
#you can mix data types in a list
my_list = ["apple", 10, "poop", 4.5, "pudding"]
print(my_list)

['apple', 10, 'poop', 4.5, 'pudding']

In [98]:
print(my_list[:2])

['apple', 10]

In [99]:
#Check if item is in list
if "poop" in my_list:
    print("We got poop")

We got poop

In [100]:
#Change a value 
my_list[1] = "banana" 
print(my_list)

['apple', 'banana', 'poop', 4.5, 'pudding']

In [101]:
#insert into list
my_list.insert(2, "Orange")
print(my_list)

['apple', 'banana', 'Orange', 'poop', 4.5, 'pudding']

In [102]:
my_list2 = ["pop", 'hop', "flop"]

In [103]:
l3 = my_list + my_list2
print(l3)

['apple', 'banana', 'Orange', 'poop', 4.5, 'pudding', 'pop', 'hop', 'flop']

In [105]:
#Loop a list and print values
for i in l3:
    print(i)

apple
banana
Orange
poop
4.5
pudding
pop
hop
flop

In [106]:
#loop through list with while loop

In [107]:
i=0
while i < len(l3):
    print(l3[i])
    i=i+1

apple
banana
Orange
poop
4.5
pudding
pop
hop
flop

In [109]:
#remove item from list
l3.remove(4.5)

In [110]:
#short hand for loop
[print(x) for x in my_list]

apple
banana
Orange
poop
4.5
pudding

[None, None, None, None, None, None]

In [111]:
#Create a new list of values only containing "o"

l4 = ["apple", "orange", "ollo", "ball", "clown"]
newlist = []

for i in l4:
    if "o" in i:
        newlist.append(i)
        
print(newlist)

['orange', 'ollo', 'clown']

In [112]:
#same thing but in one line of code

newlist = [i for i in l4 if "o" in i]
#newlist = [expression for item in iterable if condition == True]
print(newlist)

['orange', 'ollo', 'clown']

In [113]:
l4.sort()
print(l4)

['apple', 'ball', 'clown', 'ollo', 'orange']

## Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable. Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

Tuples are written with round brackets.

In [114]:
my_tup = ("T1", "U2", "Nirvana")
print(my_tup)

('T1', 'U2', 'Nirvana')

In [115]:
type(my_tup)

tuple

In [116]:
my_tup[1]

'U2'

## Sets

Sets are used to store multiple items in a single variable.

A set is a collection which is unordered, unchangeable*, and unindexed.

Duplicates are not allowed.

In [117]:
my_set = {"T1", "U2", "Nirvana"}
print(my_set)

{'Nirvana', 'U2', 'T1'}

In [118]:
#Check if item is in set
print("U2" in my_set)

True

## Dictionary

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values.

The values in dictionary items can be of any data type

There are four collection data types in the Python programming language:

    List is a collection which is ordered and changeable. Allows duplicate members.
    Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
    Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
    Dictionary is a collection which is ordered** and changeable. No duplicate members.

In [121]:
guitar_dict = {
    "model": "electric",
    "brand": "Fender",
    "year": 1971
}

print(guitar_dict)

{'model': 'electric', 'brand': 'Fender', 'year': 1971}

In [122]:
#number of items in dictionary
len(guitar_dict)

3

In [123]:
#access brand key
guitar_dict.get("brand")

'Fender'

In [125]:
#get list of keys
x = guitar_dict.keys()
print(x)

dict_keys(['model', 'brand', 'year'])

In [126]:
#get list of values
x = guitar_dict.values()
print(x)

dict_values(['electric', 'Fender', 1971])

In [128]:
#get list of key value pairs
x = guitar_dict.items()
print(x)

dict_items([('model', 'electric'), ('brand', 'Fender'), ('year', 1971)])

In [135]:
#loop and print all values

for i in guitar_dict:
    print(guitar_dict[i])

electric
Fender
1971

In [136]:
#Nested Dictionary

family = {
    "child1": {
        "name": "Patrick",
        "age": "13"},
    "child2": {
        "name": "Susan",
        "age": "4"},
    "child3": {
        "name": "Bert",
        "age": "8"}
    
}

In [137]:
#access items in nested dictionary
print(family["child2"]["name"])

Susan

## if-else

In [149]:
a = 30
b = 30
if a == b:
    print("We have a match")
elif a > b:
    print("A is bigger.")
else: 
    print("B is bigger.")

We have a match

In [153]:
#written in short hand
a = 50
b = 40
if a == b: print("We have a match")
elif a > b: print("A is bigger.")
else: print("B is bigger.")

A is bigger.

In [155]:
# and or
a = 1
b = 2
c = 3
if a < b and a < c: print("A is the smallest")

A is the smallest

## While loops

In [158]:
#while loop example
i = 1
while i <= 6:
    print(i)
    i += 1

1
2
3
4
5
6

In [159]:
#break statement
i = 1
while i <= 6:
    print(i)
    if i == 4:
        break
    i += 1

1
2
3
4

## For loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

In [161]:
#print list items
mylist = ["apple", "banana", "orange", "kiwi", "tomato"]
for i in mylist: print(i)

apple
banana
orange
kiwi
tomato

In [163]:
#Break statement
for i in mylist: 
    print(i)
    if i == "kiwi":
        break

apple
banana
orange
kiwi

In [166]:
#else block to run after for loop is finished
for i in mylist: 
    print(i)
else:
    print("finally finished")

apple
banana
orange
kiwi
tomato
finally finished

In [168]:
#nested for loops
mylist2 = [10, 20, 30]
for i in mylist:
    for j in mylist2:
        print(i,j)

apple 10
apple 20
apple 30
banana 10
banana 20
banana 30
orange 10
orange 20
orange 30
kiwi 10
kiwi 20
kiwi 30
tomato 10
tomato 20
tomato 30

# Functions
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [172]:
#simple function
def my_func():
    print("This is my function")
    
my_func()

This is my function

In [176]:
#function with parameters (or argumets). Send a list to a function
def my_func(names):
    for i in names:
        txt = "My name is {}"
        print(txt.format(i))

name_list = ["Erik", "Bill", "Oscar"]
my_func(name_list)

My name is Erik
My name is Bill
My name is Oscar

In [184]:
#multiple arguments
fn = "Bob"
ln = "Sagott"
age = 40

def print_profile(fname, lname, age):
    txt = "My name is {} {} and I am {} old."
    print(txt.format(fname, lname, age))
    

print_profile(fn, ln, age)

my name is Bob Sagott and I am 40 old.

In [193]:
# send dictionary to function

profile = {
    "fname": "Bob",
    "lname": "Sagott",
    "age": 40
}

def print_profile(user):
    user.get("fname")
    txt = "My name is {} {} and I am {} old."
    print(txt.format(user.get("fname"), user.get("lname"), user.get("age")))
    
    
print_profile(profile)

My name is Bob Sagott and I am 40 old.

In [194]:
#Key-value argument

def kids(child1, child2, child3):
    print(child1, child2, child3)
    
kids(child1 = "Pat", child2 = "Floppy", child3 = "Goose")

Pat Floppy Goose

In [197]:
#default paramter
def my_func(country = "Sweden"):
    txt = "{} is the greatest place on earth."
    print(txt.format(country))
    
my_func()

Sweden is the greatest place on earth.

In [207]:
#Return a value 
def my_func(price, quantity):
    cost = price * quantity
    return cost

price = 4.99
quant = 5

#call function and round to two decimal places
Basket_value = round(my_func(price, quant), 2)

txt = "Your total for shopping is ${}"
print(txt.format(Basket_value))

Your total for shopping is $24.95

## Lambda
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression. Useful as an anonymous function inside another function.

Syntax 

lambda arguments : expression

In [208]:
#example lambda functions

x = lambda a, b: a * b

print(x(2, 4))

8

## Classes and Objects
Python is an object oriented programming language.

Almost everything in Python is an object, with its properties and methods.

A Class is like an object constructor, or a "blueprint" for creating objects.

In [215]:
#Create a class named Person, use the __init__() function to assign values for name and age:

class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

## Python module

Consider a module to be the same as a code library.

A file containing a set of functions you want to include in your application.

To create a module just save the code you want in a file with the file extension .py

## Python Datetime
A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

The datetime() class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), but they are optional

In [218]:
import datetime

x = datetime.datetime.now()
print(x)

2023-04-25 15:04:17.902101

In [221]:
#print various methods

print(x.year)
print(x.weekday())
print(x.day)
print(x.hour)

2023
1
25
15

The datetime object has a method for formatting date objects into readable strings.

The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

In [222]:
x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

## JSON
If you have a JSON string, you can parse it by using the json.loads() method.

In [228]:
import json

# some JSON:
x =  '{ "name":"John", "age":30, "city":"New York"}'

# parse x:
y = json.loads(x)

# the result is a Python dictionary:
for i in y:
    print(y[i])

John
30
New York

If you have a Python object, you can convert it into a JSON string by using the json.dumps() method.

In [224]:
# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [225]:
# Convert a Python object containing all the legal data types:

import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

## Regex
https://www.w3schools.com/python/python_regex.asp

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

re module

Function	Description

findall	    Returns a list containing all matches

search	    Returns a Match object if there is a match anywhere in the string

split	    Returns a list where the string has been split at each match

sub	        Replaces one or many matches with a string

In [242]:
import re

txt = "Oklahoma has three overlapping abortion bans, with different and sometimes contradictory definitions and exceptions. A study published Tuesday along with a commentary in the Lancet medical journal shows hospitals all over Oklahoma are struggling to interpret the laws and create policies that comply with the state's abortion bans. The resulting confusion is having dangerous consequences for women like Statton."
#
a = re.findall("^Oklahoma", txt)
print(a)

['Oklahoma']

## PIP

pip install modules using:

In [243]:
#pip install <name of module>

## User input

In [244]:
username = input("Enter username:")
print("Username is: " + username)

Enter username:Erik
Username is: Erik